.input {
    padding: 0.5rem;
    border: double 3px transparent;
    border-radius: 6px;
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, orange, yellow);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }